<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/07a5d4e4bf.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <!-- <form method="post">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Reset">
    </form> -->
    <h2 class="text-center m-5">Reset your password</h2>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <form method="post" id="myForm1" class="needs-validation" action="{{url_for(
                    "auth.new_password", token=token, _external=True )}}" novalidate>
                        <!-- <div class="form-group">
                        Field1<input type="text" class="form-control" pattern="^(?=.*[A-Za-z0-9_@./#&+-])(?=.*\d)[A-Za-z\d]{8,}$" required
                            autofocus>
                        <div class="valid-feedback">Valid</div>
                        <div class="invalid-feedback">
                            <p>Password must consist a number and lowercase character</p>
                            <p>Password must be at least 7 characters long</p>
                        </div>
                    </div> -->
                        <div class="form-group">

                            <small>Password must consist at least one letter, one number and special character</small>
                            <br>
                            <small>Password must be atleast 7 characters long</small>
                            <br>
                            <label>Password</label>
                            <div class="input-group" id="show_hide_password">
                                <input type="password" id="pwdId" class="form-control" name="password"
                                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
                                <div class="input-group-addon">
                                    <a href=""><i class="fa fa-eye-slash pt-3 pb-2 px-2 " aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="valid-feedback">Valid</div>
                            <div class="invalid-feedback">

                                <p>Password must be at least 7 characters long</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="input-group" id="show_hide_password">
                                <input type="password" id="cPwdId" class="form-control"
                                    pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" required>
                                <div class="input-group-addon">
                                    <a href=""><i class="fa fa-eye-slash pt-3 pb-2 px-2" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div id="cPwdValid" class="valid-feedback">Valid</div>
                            <div id="cPwdInvalid" class="invalid-feedback">
                                <p>Password must consist at least one letter, one number and one special character</p>
                                <p>Password must be at least 7 characters long</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="submitBtn" type="submit" class="btn btn-primary submit-button"
                                disabled>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                // Check if passwords match
                $('#pwdId, #cPwdId').on('keyup', function () {
                    if ($('#pwdId').val() != '' && $('#cPwdId').val() != '' && $('#pwdId').val() == $('#cPwdId').val()) {
                        $("#submitBtn").attr("disabled", false);
                        $('#cPwdValid').show();
                        $('#cPwdInvalid').hide();
                        $('#cPwdValid').html('Valid').css('color', 'green');
                        $('.pwds').removeClass('is-invalid')
                    } else {
                        $("#submitBtn").attr("disabled", true);
                        $('#cPwdValid').hide();
                        $('#cPwdInvalid').show();
                        $('#cPwdInvalid').html('Not Matching').css('color', 'red');
                        $('.pwds').addClass('is-invalid')
                    }
                });
                let currForm1 = document.getElementById('myForm1');
                // Validate on submit:
                currForm1.addEventListener('submit', function (event) {
                    if (currForm1.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    currForm1.classList.add('was-validated');
                }, false);
                // Validate on input:
                currForm1.querySelectorAll('.form-control').forEach(input => {
                    input.addEventListener(('input'), () => {
                        if (input.checkValidity()) {
                            input.classList.remove('is-invalid')
                            input.classList.add('is-valid');
                        } else {
                            input.classList.remove('is-valid')
                            input.classList.add('is-invalid');
                        }
                        var is_valid = $('.form-control').length === $('.form-control.is-valid').length;
                        $("#submitBtn").attr("disabled", !is_valid);
                    });
                });
                $("#show_hide_password a").on('click', function (event) {
                    event.preventDefault();
                    if ($('#show_hide_password input').attr("type") == "text") {
                        $('#show_hide_password input').attr('type', 'password');
                        $('#show_hide_password i').addClass("fa-eye-slash");
                        $('#show_hide_password i').removeClass("fa-eye");
                    } else if ($('#show_hide_password input').attr("type") == "password") {
                        $('#show_hide_password input').attr('type', 'text');
                        $('#show_hide_password i').removeClass("fa-eye-slash");
                        $('#show_hide_password i').addClass("fa-eye");
                    }
                });
            });
        </script>

</html>